.wrapper {
    .stars,
    .issues {
        background-color: #FFEC9B;
        width: 120px;
        border-radius: 15px;
    }
    .issues {
        background-color: #FFBCBD;
    }
    .emptyDesc {
        font-style: italic;
    }
}